linux/usr
backup
lib
nowe
cert
dll
youtube_player
youtube_player.archive
youtube_player_monitor
studio_jahu_monitor
youtube_player.lps
nazwa_filmu.txt
sign
*.csv
*.sqlite
*.so
*.dll
*.exe
*.dbg
*.lps
server/config.xml
server/ide_c
server/server
server/*.db
