linux/usr
backup
lib
nowe
cert
youtube_player
youtube_player.archive
youtube_player_client
youtube_player_monitor
youtube_player_server
studio_jahu_monitor
youtube_player.lps
nazwa_filmu.txt
*.csv
*.sqlite
*.so
*.dll
*.exe
*.dbg
*.lps
