linux/usr
backup
kopia
lib
nowe
cert
dll
git_update-index
studio_jahu
komunikator_jahu
nazwa_filmu.txt
sign
*.csv
*.sqlite
*.so
*.dll
*.exe
*.dbg
*.lps
server/config.xml
server/ide_c
server/server
server/*.db
server/studio.jahu.log
grafika/img
