[Desktop Entry]
Type=Application
Name=Studio Jahu Player Youtube
Name[pl]=Studio Jahu Player Youtube
GenericName=Studio Jahu Player Youtube
GenericName[pl]=Studio Jahu Player Youtube
Comment=Program to prepare comments to films for Youtube
Comment[pl]=Program do przygotowywania komentarzy do filmów na Youtube
Icon=studio_jahu
Exec=studio_jahu
Terminal=false
Categories=Qt;KDE;AudioVideo;
